node_modules
.npmrc
DeadByDaylight.locres.json
scripts/locales
coverage
.nyc_output
docs
src/**/*.d.ts
src/*.d.ts
/de
/en
/es
/fr
/it
/jp
/ko
/pl
/ru
/th
/tr
/zh
/lib
/data.compiled
